<div id="list-page">
  <% if flash[:updated_item] %><script type="text/javascript">AlertItem = <%= flash[:updated_item] %>;</script><% end %>
  <ul id="drinks" class="list">
    <% for drink in @drinks do %>
    <li id="drink-<%= drink.id %>"><%= link_to drink.name, edit_drink_path(drink) %></li>
    <% end %>
  </ul>
  <div class="clear"></div>
  <%= will_paginate @drinks %>
</div>
<% content_for :foot do %>
  <%= javascript_include_tag :defaults %>
<% end %>
