<div id="list-page">
  <% if flash[:updated_item] %><script type="text/javascript">AlertItem = <%= flash[:updated_item] %>;</script><% end %>
  <ul id="store-filter" class="menu">
    <% for store_type in Store.store_types do %>
    <li><a href="?store_type=<%= store_type.last %>"><%= store_type.first %></a></li>
    <% end %>
    <li class="filter"><strong>Filter:</strong><form style="display:inline" method="get" action=""><input id="filter" type="text" name="filter" value="<%= params[:filter] %>"/><input type="submit" value="Go"/></form></li>
  </ul>
  <ul id="stores" class="list">
    <% for store in @stores do %>
    <li id="store-<%= store.id %>" class="clear"><img style="float:left" src="/images/iphone/cup-<%= store.store_type %>.png"/><%= link_to store.title, edit_store_path(store) %></li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>
<%= will_paginate @stores %>
<% content_for :foot do %>
  <%= javascript_include_tag :defaults %>
<% end %>
